* {
    font-family: 'Roboto Mono', monospace;
}

.center {
    margin: auto;
    margin-top: 10px;
}

body {
    background-color: lightgrey;
}

#main-control-box {
    width: 800px;
    height: 600px;
    border-radius: 0% 5%;
    border: solid black 1px;
    box-shadow: black 0px 0px 8px;
    background-color: white;
    overflow-y: auto;
}

#gold-counter-box {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

#main-control-box h2 {
    text-align: center;
    margin-top: 10px;
}

#pickaxe { 
    width: 40px;
}

.swing {
    animation-name: swing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#miner-zone {
    width: 80%;
    margin: auto;
    height: 50%;
    border: 1px black solid;
    overflow-y: auto;
}

#controls {
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

@keyframes swing {
    0%   {transform: rotate(0deg);}
    40%  {transform: rotate(-20deg);}
    80%  {transform: rotate(85deg);}
    100% {transform: rotate(0deg);}
}

/* Buttons */
.button1 {
    width: 100px;
    height: 40px;
    border: none;
    background-color: rgb(197, 197, 197);
}
.button1:hover {
    background-color: rgb(206, 206, 206);
}
.button1:active {
    border: solid 1px blue;
}

/* Progress Bar */
.progressbar-parent {
    width: 180px;
    height: 20px;
    background-color: dimgrey;
    margin: auto;
}

.progressbar {
    height: 20px;
    position: relative;
    background-color: rgb(0, 255, 0);
    left: 0;
}

.table-string {
    width: 140px;
}

.table-progress {
    width: 200px;
}

th {
    width: 50px;
}

td {
    text-align: center;
}

@keyframes progress {
    from {
        animation-timing-function: linear;
        width: 0%;
    }
    to   {width: 100%;}
}