h1, p {
    text-align: center;
    padding-top: 20px;
    font-family: 'VT323', monospace;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 24px;
}

a {
    font-size: 32px;
    color: #025500;
    font-weight: bold
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}

#title-box {
    width: 500px;
    height: 150px;
    
    outline: dashed black 2px;
    margin: auto;
}